:root {
  /* Animations */
  --transition-duration: 250ms;

  /* Screen sizes */
  --screen-sm: 40rem; /* 640px */
  --screen-md: 48rem; /* 768px */
  --screen-lg: 64rem; /* 1024px */
  --screen-xl: 80rem; /* 1280px */
  --screen-2xl: 96rem; /* 1536px */

  /* Color palette */
  --odres-main: #d8a63f;
  --odres-hover: #cb9832;
}
